## Record Linkage del dataset

In [1]:
import pandas as pd
import numpy as np

import recordlinkage
import warnings
from recordlinkage.index import Full

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('schemaAlignment/aziende_merged_finale.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df

,Unnamed: 0,name,company_website,country,number_of_employees,industry,founded_year,market_cap,revenue,rank,sector,city,valuation,stock,ceo,market_value
0,0,Proteus Digital Health Careers,www.proteus.com,"Redwood City, CA",201 to 500 employees,Pharmaceuticals,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Zelis Careers,www.zelis.com,"Bedminster, NJ","1,001 to 5,000 employees",Information Technology & Services,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,UpNest Careers,www.upnest.com,"Burlingame, CA",1 to 50 employees,Real Estate,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,conferacity Careers,conferacity.com,"Menlo Park, CA",1 to 50 employees,Broadcast & Online Media,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Zenoti Careers,www.zenoti.com,"Bellevue, WA","501 to 1,000 employees",Computer Software,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120254,120254,Wayne's Coffee,NaN,NaN,NaN,Consumer services,NaN,NaN,NaN,NaN,Restaurants & bars,NaN,NaN,NaN,NaN,NaN
120255,120255,WESC,NaN,NaN,NaN,Consumer goods,NaN,NaN,NaN,NaN,Clothing & accessories,NaN,NaN,NaN,NaN,NaN
120256,120256,WG Film,NaN,NaN,NaN,Consumer services,NaN,NaN,NaN,NaN,Broadcasting & entertainment,NaN,NaN,NaN,NaN,NaN
120257,120257,WM-data,NaN,NaN,NaN,Technology,NaN,NaN,NaN,NaN,Software,NaN,NaN,NaN,NaN,NaN
120258,120258,X5 Music Group,NaN,NaN,NaN,Consumer services,NaN,NaN,NaN,NaN,Broadcasting & entertainment,NaN,NaN,NaN,NaN,NaN

In [13]:
# Indicizzazione dei dati
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df)

MultiIndex([(     0,      0),
            (     1,      1),
            (     2,      2),
            (     3,      3),
            (     4,      4),
            (     5,      5),
            (     6,      6),
            (     7,      7),
            (     8,      8),
            (     9,      9),
            ...
            (120248, 120248),
            (120249, 120249),
            (120251, 120251),
            (120252, 120252),
            (120253, 120253),
            (120254, 120254),
            (120255, 120255),
            (120256, 120256),
            (120257, 120257),
            (120258, 120258)],
           length=432050)

In [ ]:
compare_cl = recordlinkage.Compare()

compare_cl.string('name', 'name', label='name', threshold=0.9)
compare_cl.string('company_website', 'company_website', label='company_website', threshold=0.9)
compare_cl.string('country', 'country', label='country', threshold=0.8)
compare_cl.string('number_of_employees', 'number_of_employees', label='number_of_employees', threshold=0.6)
compare_cl.string('industry', 'industry', label='industry', threshold=0.7)
compare_cl.string('founded_year', 'founded_year', label='founded_year')
compare_cl.string('market_cap', 'market_cap', label='market_cap')
compare_cl.string('revenue', 'revenue', label='revenue')
compare_cl.string('rank', 'rank', label='rank')
compare_cl.string('sector', 'sector', label='sector')
compare_cl.string('city', 'city', label='city')
compare_cl.string('valuation', 'valuation', label='valuation')
compare_cl.string('stock', 'stock', label='stock')
compare_cl.string('ceo', 'ceo', label='ceo')
compare_cl.string('market_value', 'market_value', label='market_value')
compare_cl.exact('founded_year', 'founded_year', label='founded_year')

features = compare_cl.compute(candidate_links, df)

In [ ]:
features = features.head(len(df))
features

### Training e Test set