## Unione dataset

In [1]:
import pandas as pd
import numpy as np

### **cbinsight.com**

In [ ]:
# Da eseguire una volta

# Leggi il dataset da convertire
cbi1 = pd.read_csv("de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.csv")

# Conversione file .csv in .json
cbi1_json = cbi1.to_json(orient="records")

# Salva il file nella cartella cbinsight.com
with open('de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.json', 'w') as f:
    f.write(cbi1_json)

In [2]:
cbi1 = pd.read_json("de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.json")
cbi1.head()

,Unnamed: 0,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B

In [3]:
cbi1.drop("Unnamed: 0", axis=1, inplace=True)
cbi1.head()

,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B

In [12]:
cbi2 = pd.read_json('de-sources-2022-2023/cbinsight.com/iGMM-cbinsights.json')
cbi2.head()

,company,valuation,datejoined,country,city,industry,selectinvestors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [13]:
# Rinomina le colonne con gli stessi nomi in entrambi i dataframe
cbi2 = cbi2.rename(columns={"company": "name", "datejoined": "dateJoined", "selectinvestors": "investors"})

In [14]:
# Unisci i dataframe
result_cbinsight = pd.concat([cbi1, cbi2], ignore_index=True)
result_cbinsight.head(10)

,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B
5,ByteDance,$140B,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,Private Equity,$7.44B
6,Niantic,$9B,11/24/2017,United States,San Francisco,Mobile & telecommunications,"Nintendo, Google, Pokemon Company Internationa...",2015,Series D,$770M
7,OYO Rooms,$9B,9/25/2018,India,Gurugram,Travel,"SoftBank Group, Sequoia Capital India,Lightspe...",2012,Secondary Market,$3.114B
8,Kavak,$8.7B,10/1/2020,Mexico,Lerma de Villada,E-commerce & direct-to-consumer,"DST Global, SoftBank Group, Mountain Nazca",2014,Line of Credit - II,$2.702B
9,Personio,$8.5B,1/19/2021,Germany,Munich,Internet software & services,"Global Founders Capital, Nortzone Ventures, Pi...",2015,Series E - II,$724.83M

In [17]:
# Salva lo schema risultante
result_cbinsight= result_cbinsight.to_json(orient="records")

with open('schemaAlignment/cbinsight.json', 'w') as f:
    f.write(result_cbinsight)

### **value.today**

In [29]:
# Da eseguire una volta

# Leggi dataset da convertire
val1 = pd.read_csv('de-sources-2022-2023/value.today/FR-valuetoday.csv')
val6 = pd.read_csv('de-sources-2022-2023/value.today/silvestri-value.today.csv')

# Conversione file .csv in .json
val1_json = val1.to_json(orient="records")
val6_json = val6.to_json(orient="records")

# Salva il file nella cartella value.today
with open('de-sources-2022-2023/value.today/FR-valuetoday.json', 'w') as f:
    f.write(val1_json) 

with open('de-sources-2022-2023/value.today/silvestri-value.today.json', 'w') as f:
    f.write(val6_json)

In [2]:
val1 = pd.read_json('de-sources-2022-2023/value.today/FR-valuetoday.json')
val1.head(1)

,IPO Year,Number of Employees,Country,CEO,Founded Year,Market Value,Name
0,1980.0,"154,000",USA,Tim Cook,1976.0,"2,825.00 Billion USD",APPLE

In [3]:
val2 = pd.read_json('de-sources-2022-2023/value.today/GioPonSpiz-value.today.json')
val2.head(1)

,name,world_rank,marketValue,marketCap,CEO,country
0,APPLE,1,"2,825.000 Billion USD","2,510.000 Billion USD",Tim Cook,USA

In [82]:
val3 = pd.read_json('de-sources-2022-2023/value.today/avengers-valuetoday.json', lines=True)
val3.head(1)

,id,name,world_rank,annual_revenue_in_usd,annual_net_income_in_usd,annual_results_for_year_ending,total_assets_in_usd,total_liabilities_in_usd,total_equity_in_usd,headquarters_region_city,headquarters_country,headquarters_sub_region,headquarters_continent,company_business,number_of_employees,ceo,founders,company_website
0,b9a098214d1a4ce1acc834cf17aef660,Apple,1,"394,330 Million USD","99,803 Million USD",Sep-2022,"352,760 Million USD","302,080 Million USD","50,672 Million USD",California,USA,Northern America,Americas,"[Technology, Mobiles & Accessories, Electronic...","154,000",Tim Cook,"[Steve Jobs, Steve Wozniak, Ronald Wayne]",https://www.apple.com/

In [88]:
val4 = pd.read_json('de-sources-2022-2023/value.today/gren-value.today.json')
val4.head(1)

,name,annual_revenue_USD,annual_net_income_USD,market_capitalization_2022,employees_number,CEO,headquarters_country,wikipedia_page_url,twitter_page_url,facebook_page_url
0,APPLE,394330000000,99803000000,2825000000000,154000,Tim Cook,USA,https://en.wikipedia.org/wiki/Apple_Inc.,https://twitter.com/apple?lang=en,https://www.facebook.com/apple/

In [70]:
val5 = pd.read_json('de-sources-2022-2023/value.today/iGMM-value.today.json')
val5.head(1)

,name,ceo,market value (Jan-07-2022),world rank (Jan-07-2022),market value (Jan 1st 2020),world rank (Jan-2020),headquarters country,number of employees,company business,annual revenue in USD,annual net income in USD,company website
0,APPLE,Tim Cook,"2,825.000 Billion USD",1,"1,323.000 Billion USD",2.0,USA,"154,000","[Technology, Mobiles & Accessories, Electronics]","365,820 Million USD","94,680 Million USD",https://www.apple.com/

In [7]:
val6 = pd.read_json('de-sources-2022-2023/value.today/silvestri-value.today.json')
val6.head(1)

,ceo,country,market_value_jan_2020,market_value_jan_2021,market_value_jan_2022,name,employees_2022,revenue_2022,sector
0,Bernard Arnault,france,237.807 Billion USD,313.500 Billion USD,409.480 Billion USD,lvmh,"150,000","70,765 Million USD",fashion and luxury goods

In [8]:
val7 = pd.read_json('de-sources-2022-2023/value.today/slytherin-value.today.json')
val7.head(1)

,link,rank,name,ceo,founded,revenue,country,industry
0,https://www.value.today/company/apple,1,APPLE,Tim Cook,1976,"365,820 Million USD",USA,"[Technology, Mobiles & Accessories, Electronic..."

In [68]:
val1 = val1.rename(columns={'IPO Year':'ipo_year', 'Number of Employees':'number_of_employees', 'Country':'country', 'CEO':'ceo', 'Founded Year':'founded_year', 'Market Value':'market_value', 'Name':'name'})

val1_toDrop = ['ipo_year', 'founded_year']
val1 = val1.drop(val1_toDrop, axis=1)

val1.head()

,number_of_employees,country,ceo,market_value,name
0,"154,000",USA,Tim Cook,"2,825.00 Billion USD",APPLE
1,"220,000",USA,Satya Nadella,"2,358.00 Billion USD",MICROSOFT CORPORATION
2,"79,800",Saudi Arabia,Amin H. Al-Nasser,"1,889.60 Billion USD",SAUDI ARABIAN OIL COMPANY (Saudi Aramco)
3,"156,500",USA,Sundar Pichai,"1,820.00 Billion USD",ALPHABET
4,"1,335,000",USA,Andy Jassy,"1,649.00 Billion USD",AMAZON.COM

In [66]:
val2 = val2.rename(columns={'marketValue':'market_value', 'marketCap':'market_cap', 'CEO':'ceo'})

val2_toDrop = ['world_rank']
val2 = val2.drop(val2_toDrop, axis=1)

val2.head()

,name,market_value,market_cap,ceo,country
0,APPLE,"2,825.000 Billion USD","2,510.000 Billion USD",Tim Cook,USA
1,MICROSOFT CORPORATION,"2,358.000 Billion USD","2,269.000 Billion USD",None,USA
2,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),"1,889.600 Billion USD","1,891.600 Billion USD",H.E. Yasir Othman Al-Rumayyan,Saudi Arabia
3,ALPHABET,"1,820.000 Billion USD","1,934.000 Billion USD",John L. Hennessy,USA
4,AMAZON.COM,"1,649.000 Billion USD","1,758.000 Billion USD",Andy Jassy,USA

In [83]:
val3 = val3.rename(columns={'headquarters_country':'country', 'company_business':'industry'})

val3_toDrop = ['id', 'world_rank','annual_results_for_year_ending', 'total_assets_in_usd', 'total_liabilities_in_usd', 'total_equity_in_usd', 'headquarters_region_city', 'headquarters_sub_region', 'headquarters_continent', 'annual_revenue_in_usd', 'annual_net_income_in_usd']
val3 = val3.drop(val3_toDrop, axis=1)

val3.head()

,name,country,industry,number_of_employees,ceo,founders,company_website
0,Apple,USA,"[Technology, Mobiles & Accessories, Electronic...","154,000",Tim Cook,"[Steve Jobs, Steve Wozniak, Ronald Wayne]",https://www.apple.com/
1,Taiwan Semiconductor Manufacturing Company (tsmc),Taiwan,"[Technology, Semiconductors, Electronics, Tech...","65,152",C. C. Wei,Morris Chang,https://www.tsmc.com/
2,Nvidia Corporation,USA,"[Technology, Semiconductors, Electronics, Tech...","18,975",Jensen Huang,"[Jensen Huang, Chris Malachowsky, Curtis Priem]",http://www.nvidia.com/
3,Berkshire Hathaway,USA,"[Financial Services, Investments, Insurance]","372,000",Warren Buffett,Oliver Chace,https://www.berkshirehathaway.com/
4,Meta Platforms,USA,"[Communication Services, Internet or Mobile Ap...","77,805",Mark Zuckerberg,"[Mark Zuckerberg, Andrew McCollum, Eduardo Sav...",https://www.facebook.com/

In [89]:
val4 = val4.rename(columns={'market_capitalization_2022':'market_value', 'annual_revenue_USD':'annual_revenue_in_usd','annual_net_in_usd':'annual_net_income_in_usd','employees_number':'number_of_employees', 'CEO':'ceo', 'headquarters_country':'country'})

val4_toDrop = ['wikipedia_page_url', 'twitter_page_url','facebook_page_url', 'annual_revenue_in_usd', 'annual_net_income_USD']
val4 = val4.drop(val4_toDrop, axis=1)

val4.head()

,name,market_value,number_of_employees,ceo,country
0,APPLE,2825000000000,154000,Tim Cook,USA
1,MICROSOFT CORPORATION,2358000000000,220000,Satya Nadella,USA
2,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),1889600000000,79800,Amin H. Al-Nasser,Saudi Arabia
3,ALPHABET,1820000000000,156500,Sundar Pichai,USA
4,AMAZON.COM,1649000000000,1335000,Andy Jassy,USA

In [71]:
val5 = val5.rename(columns={'market value (Jan-07-2022)':'market_value', 'world rank (Jan-07-2022)':'world_rank', 'market value (Jan 1st 2020)':'market_value_01_2020', 'world rank (Jan-2020)':'world_rank_01_2020', 'headquarters country':'country', 'number of employees':'number_of_employees', 'company business':'industry', 'annual revenue in USD':'annual_revenue_USD', 'annual net income in USD':'annual_net_income_USD', 'company website':'company_website'})

val5_toDrop = ['world_rank', 'market_value_01_2020','world_rank_01_2020', 'annual_revenue_USD', 'annual_net_income_USD']
val5 = val5.drop(val5_toDrop, axis=1)

val5.head()

,name,ceo,market_value,country,number_of_employees,industry,company_website
0,APPLE,Tim Cook,"2,825.000 Billion USD",USA,"154,000","[Technology, Mobiles & Accessories, Electronics]",https://www.apple.com/
1,MICROSOFT CORPORATION,Satya Nadella,"2,358.000 Billion USD",USA,"220,000","[Technology, Software and IT, Laptops]",https://www.microsoft.com/
2,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),Amin H. Al-Nasser,"1,889.600 Billion USD",Saudi Arabia,"79,800","[Energy, Oil and Gas, Chemicals]",https://www.saudiaramco.com/
3,ALPHABET,Sundar Pichai,"1,820.000 Billion USD",USA,"156,500","[Technology, Internet or Mobile App Based Busi...",https://abc.xyz/
4,AMAZON.COM,Andy Jassy,"1,649.000 Billion USD",USA,"1,335,000","[eCommerce, Internet or Mobile App Based Busin...",https://www.amazon.com/

In [58]:
val6 = val6.rename(columns={'market_value_jan_2020':'market_value_01_2020', 'market_value_jan_2021':'market_value_01_2021', 'market_value_jan_2022':'market_value', 'employees_2022':'number_of_employees', 'revenue_2022':'revenue', 'sector':'sector'})

val6_toDrop = ['market_value_01_2020', 'market_value_01_2021', 'sector']
val6 = val6.drop(val6_toDrop, axis=1)

val6.head()

,ceo,country,market_value,name,number_of_employees,revenue
0,Bernard Arnault,france,409.480 Billion USD,lvmh,"150,000","70,765 Million USD"
1,Ulf Mark Schneider,switzerland,372.720 Billion USD,nestle ag,"276,000","92,575 Million USD"
2,Severin Schwan,switzerland,356.150 Billion USD,roche holding ag,"100,920","66,757 Million USD"
3,Peter Wennink,netherlands,307.330 Billion USD,asml holding,"28,000","20,509 Million USD"
4,Bob van Dijk,netherlands,254.550 Billion USD,prosus,"23,874","6,866 Million USD"

In [60]:
val7 = val7.rename(columns={'link':'company_website', 'rank':'rank', 'founded':'founded_year', 'revenue':'revenue'})

val7_toDrop = ['rank']
val7 = val7.drop(val7_toDrop, axis=1)

val7.head()

,company_website,name,ceo,founded_year,revenue,country,industry
0,https://www.value.today/company/apple,APPLE,Tim Cook,1976,"365,820 Million USD",USA,"[Technology, Mobiles & Accessories, Electronic..."
1,https://www.value.today/company/taiwan-semicon...,TAIWAN SEMICONDUCTOR MANUFACTURING COMPANY (TSMC),Mark Liu,1987,"55,306 Million USD",Taiwan,"[Technology, Semiconductors, Electronics, Tech..."
2,https://www.value.today/company/microsoft-corp...,MICROSOFT CORPORATION,Satya Nadella,1975,"198,270 Million USD",USA,"[Technology, Software and IT, Laptops, Video G..."
3,https://www.value.today/company/nvidia-corpora...,NVIDIA CORPORATION,Jensen Huang,1993,"26,914 Million USD",USA,"[Technology, Semiconductors, Electronics, Tech..."
4,https://www.value.today/company/amazon.com,AMAZON.COM,Andy Jassy,1994,"469,820 Million USD",USA,"[eCommerce, Internet or Mobile App Based Busin..."

In [93]:
merged_valueToday = pd.merge(val1, val2, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val3, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val4, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val5, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val6, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val7, on='name', how='outer')

In [94]:
merged_valueToday = val1.combine_first(val2)
merged_valueToday = merged_valueToday.combine_first(val3)
merged_valueToday = merged_valueToday.combine_first(val4)
merged_valueToday = merged_valueToday.combine_first(val5)
merged_valueToday = merged_valueToday.combine_first(val6)
merged_valueToday = merged_valueToday.combine_first(val7)

In [95]:
merged_valueToday.head()

,ceo,company_website,country,founded_year,founders,industry,market_cap,market_value,name,number_of_employees,revenue
0,Tim Cook,https://www.apple.com/,USA,1976,"[Steve Jobs, Steve Wozniak, Ronald Wayne]","[Technology, Mobiles & Accessories, Electronic...","2,510.000 Billion USD","2,825.00 Billion USD",APPLE,"154,000","70,765 Million USD"
1,Satya Nadella,https://www.tsmc.com/,USA,1987,Morris Chang,"[Technology, Semiconductors, Electronics, Tech...","2,269.000 Billion USD","2,358.00 Billion USD",MICROSOFT CORPORATION,"220,000","92,575 Million USD"
2,Amin H. Al-Nasser,http://www.nvidia.com/,Saudi Arabia,1975,"[Jensen Huang, Chris Malachowsky, Curtis Priem]","[Technology, Semiconductors, Electronics, Tech...","1,891.600 Billion USD","1,889.60 Billion USD",SAUDI ARABIAN OIL COMPANY (Saudi Aramco),"79,800","66,757 Million USD"
3,Sundar Pichai,https://www.berkshirehathaway.com/,USA,1993,Oliver Chace,"[Financial Services, Investments, Insurance]","1,934.000 Billion USD","1,820.00 Billion USD",ALPHABET,"156,500","20,509 Million USD"
4,Andy Jassy,https://www.facebook.com/,USA,1994,"[Mark Zuckerberg, Andrew McCollum, Eduardo Sav...","[Communication Services, Internet or Mobile Ap...","1,758.000 Billion USD","1,649.00 Billion USD",AMAZON.COM,"1,335,000","6,866 Million USD"

In [96]:
# Salva lo schema risultante
result_valueToday = merged_valueToday.to_json(orient="records")

with open('schemaAlignment/valueToday.json', 'w') as f:
    f.write(result_valueToday)

In [98]:
num_aziende = merged_valueToday['name']
np.size(num_aziende)

10682

## Unione di tutti i dataset