## Unione dataset

In [1]:
import pandas as pd
import numpy as np

### **cbinsight.com**

In [ ]:
# Da eseguire una volta

# Leggi il dataset da convertire
cbi1 = pd.read_csv("de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.csv")

# Conversione file .csv in .json
cbi1_json = cbi1.to_json(orient="records")

# Salva il file nella cartella cbinsight.com
with open('de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.json', 'w') as f:
    f.write(cbi1_json)

In [33]:
cbi1 = pd.read_json("de-sources-2022-2023/cbinsight.com/DDD-cbinsight.com.json")
cbi1.head()

,Unnamed: 0,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B

In [34]:
cbi1.drop("Unnamed: 0", axis=1, inplace=True)
cbi1.head()

,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B

In [51]:
cbi2 = pd.read_json('de-sources-2022-2023/cbinsight.com/cbinsights.json')
cbi2.head()

,company,valuation,datejoined,country,city,industry,selectinvestors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [52]:
# Rinomina le colonne con gli stessi nomi in entrambi i dataframe
cbi2 = cbi2.rename(columns={"company": "name", "datejoined": "dateJoined", "selectinvestors": "investors"}, inplace=True)

In [73]:
# Unisci i dataframe
result_cbinsight = pd.concat([cbi1, cbi2], ignore_index=True)
result_cbinsight.head(10)

,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B
5,ByteDance,$140B,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,Private Equity,$7.44B
6,Niantic,$9B,11/24/2017,United States,San Francisco,Mobile & telecommunications,"Nintendo, Google, Pokemon Company Internationa...",2015,Series D,$770M
7,OYO Rooms,$9B,9/25/2018,India,Gurugram,Travel,"SoftBank Group, Sequoia Capital India,Lightspe...",2012,Secondary Market,$3.114B
8,Kavak,$8.7B,10/1/2020,Mexico,Lerma de Villada,E-commerce & direct-to-consumer,"DST Global, SoftBank Group, Mountain Nazca",2014,Line of Credit - II,$2.702B
9,Personio,$8.5B,1/19/2021,Germany,Munich,Internet software & services,"Global Founders Capital, Nortzone Ventures, Pi...",2015,Series E - II,$724.83M

In [74]:
result_cbinsight.to_json("cbinsight.json", orient="records")

### **value.today**

In [52]:
# Da eseguire una volta

# Leggi dataset da convertire
val1 = pd.read_csv('de-sources-2022-2023/value.today/FR-valuetoday.csv')
val6 = pd.read_csv('de-sources-2022-2023/value.today/silvestri-value.today.csv')

# Conversione file .csv in .json
val1_json = val1.to_json(orient="records")
val6_json = val6.to_json(orient="records")

# Salva il file nella cartella value.today
with open('de-sources-2022-2023/value.today/FR-valuetoday.json', 'w') as f:
    f.write(val1_json) 

with open('de-sources-2022-2023/value.today/silvestri-value.today.json', 'w') as f:
    f.write(val6_json)

In [64]:
val1 = pd.read_json('de-sources-2022-2023/value.today/FR-valuetoday.json')
val1.head(1)

,IPO Year,Number of Employees,Country,CEO,Founded Year,Market Value,Name
0,1980.0,"154,000",USA,Tim Cook,1976.0,"2,825.00 Billion USD",APPLE

In [65]:
val2 = pd.read_json('de-sources-2022-2023/value.today/GioPonSpiz-value.today.json')
val2.head(1)

,name,world_rank,marketValue,marketCap,CEO,country
0,APPLE,1,"2,825.000 Billion USD","2,510.000 Billion USD",Tim Cook,USA

In [ ]:
#val3 = pd.read_json('de-sources-2022-2023/value.today/avengers-valuetoday.json')
#val3.head(1)

In [66]:
val4 = pd.read_json('de-sources-2022-2023/value.today/gren-value.today.json')
val4.head(1)

,name,annual_revenue_USD,annual_net_income_USD,market_capitalization_2022,employees_number,CEO,headquarters_country,wikipedia_page_url,twitter_page_url,facebook_page_url
0,APPLE,394330000000,99803000000,2825000000000,154000,Tim Cook,USA,https://en.wikipedia.org/wiki/Apple_Inc.,https://twitter.com/apple?lang=en,https://www.facebook.com/apple/

In [67]:
val5 = pd.read_json('de-sources-2022-2023/value.today/iGMM-value.today.json')
val5.head(1)

,name,ceo,market value (Jan-07-2022),world rank (Jan-07-2022),market value (Jan 1st 2020),world rank (Jan-2020),headquarters country,number of employees,company business,annual revenue in USD,annual net income in USD,company website
0,APPLE,Tim Cook,"2,825.000 Billion USD",1,"1,323.000 Billion USD",2.0,USA,"154,000","[Technology, Mobiles & Accessories, Electronics]","365,820 Million USD","94,680 Million USD",https://www.apple.com/

In [68]:
val6 = pd.read_json('de-sources-2022-2023/value.today/silvestri-value.today.json')
val6.head(1)

,ceo,country,market_value_jan_2020,market_value_jan_2021,market_value_jan_2022,name,employees_2022,revenue_2022,sector
0,Bernard Arnault,france,237.807 Billion USD,313.500 Billion USD,409.480 Billion USD,lvmh,"150,000","70,765 Million USD",fashion and luxury goods

In [69]:
val7 = pd.read_json('de-sources-2022-2023/value.today/slytherin-value.today.json')
val7.head(1)

,link,rank,name,ceo,founded,revenue,country,industry
0,https://www.value.today/company/apple,1,APPLE,Tim Cook,1976,"365,820 Million USD",USA,"[Technology, Mobiles & Accessories, Electronic..."

In [70]:
val1 = val1.rename(columns={'IPO Year':'ipo_year', 'Number of Employees':'number_of_employees', 'Country':'country', 'CEO':'ceo', 'Founded Year':'founded_year', 'Market Value':'market_value', 'Name':'name'}, inplace=True)
val2 = val2.rename(columns={'marketValue':'market_value', 'marketCap':'market_cap', 'CEO':'ceo'}, inplace=True)
val4 = val4.rename(columns={'market_capitalization_2022':'marketValue', 'employees_number':'number_of_employees', 'CEO':'ceo', 'headquarters_country':'country'}, inplace=True)
val5 = val5.rename(columns={'market value (Jan-07-2022)':'market_value', 'world rank (Jan-07-2022)':'world_rank', 'market value (Jan 1st 2020)':'market_value_01_2020', 'world rank (Jan-2020)':'world_rank_01_2020', 'headquarters country':'country', 'number of employees':'number_of_employees', 'company business':'industry', 'annual revenue in USD':'annual_revenue_USD', 'annual net income in USD':'annual_net_income_USD', 'company website':'company_website'}, inplace=True)
val6 = val6.rename(columns={'market_value_jan_2020':'market_value_01_2020', 'market_value_jan_2021':'market_value_01_2021', 'market_value_jan_2022':'market_value', 'employees_2022':'number_of_employees', 'revenue_2022':'revenue_2022', 'sector':'sector'}, inplace=True)
val7 = val7.rename(columns={'link':'company_website', 'rank':'rank', 'founded':'founded_year', 'revenue':'revenue'}, inplace=True)

In [72]:
merged_valueToday = pd.merge(val1, val2, on='name', how='outer') #on=None
merged_valueToday = pd.merge(merged_valueToday, val4, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val5, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val6, on='name', how='outer')
merged_valueToday = pd.merge(merged_valueToday, val7, on='name', how='outer')

TypeError: Can only merge Series or DataFrame objects, a <class 'NoneType'> was passed

In [ ]:
merged_valueToday.head()

In [ ]:
schemaAlignment_valueToday

## Unione di tutti i dataset

In [ ]:
schemaAlignment